<nav class="navbar navbar-dark navbar-expand-md bg-dark">
  <a class="navbar-brand logo" routerLink="/test" (click)="collapseNavbar()">
    <span class="logo-img"></span>
    <span class="navbar-title">Mon app</span> <span class="navbar-version"></span>
  </a>
  <a class="navbar-toggler d-lg-none" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive"
    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
    <fa-icon icon="bars"></fa-icon>

  </a>
  <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
          <span>
            <fa-icon icon="home"></fa-icon>
            <span>/</span>
          </span>
        </a>
      </li>

      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/footable1" (click)="collapseNavbar()">
          <span>
            <fa-icon icon="home"></fa-icon>
            <span>/footable1</span>
          </span>
        </a>
      </li>

      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/footable2" (click)="collapseNavbar()">
          <span>
            <fa-icon icon="home"></fa-icon>
            <span>/footable2</span>
          </span>
        </a>
      </li>


      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" [routerLink]="[{ outlets: { second: ['test'], third: ['test'] }}]" (click)="collapseNavbar()">
          <span>
            <fa-icon icon="home"></fa-icon>
            <span>/bothfootables</span>
          </span>
        </a>
      </li>

      <li ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="rxjs-menu">
            <span>
              <fa-icon icon="th-list"></fa-icon>
              <span>
                RxJS demo
              </span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="rxjs-menu">

            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <a class="dropdown-item" routerLink="/stepSwitcherView" (click)="collapseNavbar()">
                <span>
                  <fa-icon icon="home"></fa-icon>
                  <span>/stepSwitcherView</span>
                </span>
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <a class="dropdown-item" routerLink="/mergeMapDemo" (click)="collapseNavbar()">
                <span>
                  <fa-icon icon="home"></fa-icon>
                  <span>/mergeMapDemo</span>
                </span>
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <a class="dropdown-item" routerLink="/priceSwitcher" (click)="collapseNavbar()">
                <span>
                  <fa-icon icon="home"></fa-icon>
                  <span>/priceSwitcher</span>
                </span>
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <a class="dropdown-item" routerLink="/concatMapDemo" (click)="collapseNavbar()">
                <span>
                  <fa-icon icon="home"></fa-icon>
                  <span>/concatMapDemo</span>
                </span>
              </a>
            </li>

          </ul>
        </li>


      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/admin" routerLinkActive="active">/admin</a>
        <!-- <a class="nav-link" [routerLink]="[{ outlets: { primary: ['admin'] }}]" (click)="collapseNavbar()">
          <span>
            <fa-icon icon="home"></fa-icon>
            <span>/admin</span>
          </span>
        </a> -->
      </li>





    </ul>

  </div>

</nav>
